
<%-include('header') -%>

<div class="about">
<h2>Amrendra Pratap Singh</h2>
<i>Computer Science Undergrad at <a href="https://mjpru.ac.in/index.aspx">M.J.P.R.U</a></i>
<p>I am a front-end web developer and a coding enthusiast.I 🧡 singing and playing football.</p>
</div>
<%-include('footer') -%>